<div class="row">
    <h2>¿QUE INCLUYE?</h2>
    <div class="card" id="accesorios">
      <img src="../../../assets/fuente.png" class="card-img-top" alt="..">
      <div class="card-body">
        <h5 class="card-title">Fuente</h5>
        <p class="card-text">Fuente de alimentacion 12V - 5 A que suministra de manera estable y constante la energia electrica hacia la lampara.</p>
      </div>
    </div>
  
    <div class="card" id="accesorios">
      <img src="../../../assets/base.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Base</h5>
        <p class="card-text">Cuenta en su interior con luces led en tono blanco y con un interruptor de encendido y apagado.</p>
      </div>
    </div>
  
    <div class="card" id="accesorios">
      <img src="../../../assets/acrilico.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Acrilico</h5>
        <p class="card-text">Acrilico de espesor 3 milimetros, grabado con la fotografía que nos envies.</p>
      </div>
    </div>
  
    <div class="card" id="accesorios">
      <img src="../../../assets/franela.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Franela</h5>
        <p class="card-text">Para que puedas limpiar la lampara sin provocar rayaduras en el acrilico.</p>
      </div>
    </div>
  
  </div>