<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../../../assets/tipos1.png" alt="..." id="lampara">
                    <div class="carousel-caption" id="texto">
                        <div class="contenedor-texto" >
                            <h5>Lampara 1</h5>
                            <p id="parrafo">Ideal para fotos de la cintura para arriba</p>
                            <p id="parrafo">No recomendada para selfies</p>
                            <p id="parrafo">Medidas: 23cm x 17cm. (el ancho varía segun la foto)</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/acrilico.png" alt="..." id="lampara">
                    <div class="carousel-caption" id="texto">
                        <div class="contenedor-texto">
                            <h5>Lampara 2</h5>
                            <p id="parrafo">Ideal para fotos de la cintura para arriba</p>
                            <p id="parrafo">No recomendada para selfies</p>
                            <p id="parrafo">Medidas: 23cm x 17cm. (el ancho varía segun la foto)</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="../../../assets/base.png" alt="..." id="lampara">
                    <div class="carousel-caption" id="texto">
                        <div class="contenedor-texto">
                            <h5>Lampara 3</h5>
                            <p id="parrafo">Ideal para fotos de la cintura para arriba</p>
                            <p id="parrafo">No recomendada para selfies</p>
                            <p id="parrafo">Medidas: 23cm x 17cm. (el ancho varía segun la foto)</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" id="informacion">
        <h2 id="titulo">LAMPARA PERSONALIZADA</h2>
        <p id="descripcion">Lo unico que tenes que hacer es enviarnos tu foto, y nosotros nos encargamos de crear el
            regalo mas original.</p>
        <p id="descripcion">Podés elegir entre 7 estilos diferentes de lamparas.</p>
    </div>
</div>